body {
	background-color: #eff8ffff;
	color: #000000ff;
	margin: 0;
}

nav,
div {
	box-shadow: 4px 4px 16px #00000020;
}

div {
	height: 50px;
	width: 150px;
	margin: 10px;
	padding: 10px;
}

nav {
	background-color: #ffffffff;
	display: flex;
	flex-direction: row;
}

#first {
	background-color: #8080ffff;
	order: 2;
}

#second {
	background-color: #660000;
	color: #ffffffff;
	order: 1;
}
